@using EntityLayer.Concrete
@model List<Announcements>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@{
    string color = "";
    int count = 0;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Announcements</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            if (item.Status == "New Video")
                            {
                                color = "badge badge-danger";
                            }
                            if (item.Status == "New Blog")
                            {
                                color = "badge badge-success";
                            }
                            if (item.Status == "Workshop")
                            {
                                color = "badge badge-warning";
                            }
                            <tr>
                                <th>@count</th>
                                <td>@item.Title</td>
                                <td>@(((DateTime)item.Date).ToString("dd-MM-yyyy"))</td>
                                <td><label class="@color">@item.Status</label></td>
                                <td>
                                    <button class="btn btn-outline-primary"
                                            onclick="showDetails('@item.Content')">
                                        Details
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function showDetails(content) {
        Swal.fire({
            text: content,
            icon: 'info',
            confirmButtonText: 'OK'
        });
    }
</script>
