@model EntityLayer.Concrete.About
@{
    ViewData["Title"] = "EditAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>EditAbout</h1>



@using (Html.BeginForm("EditAbout", "About", FormMethod.Post))
{
    @Html.HiddenFor(x => x.AboutID)
    <br />
    @Html.Label("Title")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Description</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Age</label>
    @Html.TextBoxFor(x => x.Age, new { @class = "form-control" })
    <br />

    <label>Mail</label>
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    <label>Phone</label>
    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
    <br />
    <label>Adress</label>
    @Html.TextBoxFor(x => x.Adress, new { @class = "form-control" })
    <br />
    <label>Image URL</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Update</button>


}

