@using EntityLayer.Concrete
@model List<Skill>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

  
}

<div class="card-header bg-transparent border-0">
    <h3 class="text-white mb-0">Skill List</h3>
</div>
<div class="table-responsive">
    <table class="table align-items-center table-dark">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Rate</th>
                <th scope="col">Delete</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
               
                <tr>
                    <td >
                        <div class="media align-items-center">
                            <a href="#" class="avatar rounded-circle">
                                <img alt="Image placeholder" src="@item.imageUrl">
                            </a>
                           
                        </div>
                    </td>
                    <td>
                        @item.SkillID
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="mr-2">@item.Value%</span>
                            <div>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100" style="width: @item.Value%"></div>
                                </div>
                            </div>
                        </div>

                    </td>

                    <td>
                        <a href="/Skill/DeleteSkill/@item.SkillID" class="btn btn-danger">Delete</a>
                    </td>
                    <td>
                        <a href="/Skill/EditSkill/@item.SkillID" class="btn btn-warning">Edit</a>


                    </td>
                </tr>

            }
         
        </tbody>
    </table>
    <br />
    <a href="/Skill/AddSkill" class="btn btn-danger">Add Skill</a>
</div>