@using EntityLayer.Concrete
@model List<Portfolio>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    int counter = 0;
}


<div class="card-header border-0">
    <h3 class="mb-0 text-center">@ViewBag.tt</h3>
</div>
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col">Platform</th>
                <th scope="col">Project Name</th>
                <th scope="col" class="text-center">Budget</th>
                <th scope="col" class="text-center">Completion</th>
                <th scope="col">Project Link</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td class="">
                        <div class="media align-items-center">
                            <a href="#" class="avatar rounded-circle">
                                <img alt="Image placeholder" src="@item.ImageUrl">
                            </a>

                        </div>
                    </td>


                    <td class="text-white">
                        @item.Name
                    </td>
                    <td class="text-white text-center">
                        @item.Budget
                    </td>
                    <td class="@((item.Completion == 100) ? "text-success" : "text-danger") text-center">

                        %@item.Completion

                    </td>
                    <td class="text-white">
                        <a href="@item.ProjectLink" target="_blank"></a>
                        

                    </td>


                    <td>
                        <a href="/Portfolio/EditPortfolio/@item.PortfolioID" class="btn btn-warning text-center">Edit</a>


                    </td>
                    <td>
                        <a href="/Portfolio/DeletePortfolio/@item.PortfolioID" class="btn btn-danger text-center">Delete</a>

                    </td>
                </tr>
            }


        </tbody>

    </table>

    <br />
    <a href="/Portfolio/AddPortfolio/" class="btn btn-primary text-center">Add</a>

</div>