@model EntityLayer.Concrete.Education
@{
    ViewData["Title"] = "AddEducation";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h1 class="text-center">@ViewBag.v1</h1>
<br />

<form method="post" class="">

    <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" class="form-control text-white" id="exampleInputEmail1" name="Title" placeholder="Title">
        @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger custom-class" })

    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Education Title</label>
        <input type="text" class="form-control text-white" id="exampleInputPassword1" name="Name" placeholder="Education Title">
        @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger custom-class" })

    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Date</label>
        <input type="text" class="form-control text-white" id="exampleInputPassword1" name="Date" placeholder="Date">
        @Html.ValidationMessageFor(x => x.Date, null, new { @class = "text-danger custom-class" })

    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Image URL</label>
        <input type="text" class="form-control text-white" id="exampleInputPassword1" name="ImageUrl" placeholder="Image URL">
        @Html.ValidationMessageFor(x => x.ImageUrl, null, new { @class = "text-danger custom-class" })

    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
        <input type="text" class="form-control text-white" id="exampleInputPassword1" name="Description" placeholder="Description">
        @Html.ValidationMessageFor(x => x.Description, null, new { @class = "text-danger custom-class" })

    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>


