@using EntityLayer.Concrete
@model List<Education>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card-header border-0">
    <h3 class="mb-0">Experience List Table</h3>
</div>
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Education Title</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">Delete</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                    <tr>
                        <td>
                            <div class="media align-items-center">
                                <a href="#" class="avatar rounded-circle">
                                    <img alt="Image placeholder" src="~/super-folio_free_1-2-0/images/services/full-stack.svg">
                                </a>

                            </div>
                        </td>
                        <td>
                        @item.EducationID
                        </td>
                        <td>
                        @item.Title
                        </td>
                        <td>
                        @item.Name

                        </td>
                        <td>
                        @item.Date

                        </td>
                    <td>
                        @item.Description

                    </td>



                    <td>
                            <a href="/Education/DeleteEducation/@item.EducationID" class="btn btn-danger">Delete</a>
                        </td>
                        <td>
                        <a href="/Education/EditEducation/@item.EducationID" class="btn btn-warning">Edit</a>


                        </td>
                    </tr>

            }

        </tbody>
    </table>
    <br />
    <a href="/Education/AddEducation" class="btn btn-danger">Add Experience</a>
</div>
