@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "EditExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>@ViewBag.v1</h1>

@using (Html.BeginForm("EditExperience", "Experience", FormMethod.Post))
{
    @Html.HiddenFor(x => x.ExperienceID)
    <br />
    @Html.Label("Experience Title")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <label>Date</label>
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <label>Description</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Job Title</label>
    @Html.TextBoxFor(x => x.JobTitle, new { @class = "form-control" })
    <br />

    <label>Image URl</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Update</button>


}



