@using EntityLayer.Concrete
@model List<Experience>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="card-header border-0">
    <h3 class="mb-0">Experience List Table</h3>
</div>
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">Job Title</th>
                <th scope="col">Delete</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        <div class="media align-items-center">
                            <a href="#" class="avatar rounded-circle">
                                <img alt="Image placeholder" src="~/super-folio_free_1-2-0/images/services/full-stack.svg">
                            </a>

                        </div>
                    </td>
                    <td>
                        @item.ExperienceID
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                       @item.Date

                    </td>
                    <td>
                        @item.Description

                    </td>
                    <td>
                        @item.JobTitle

                    </td>

                    <td>
                        <a href="/Experience/DeleteExperience/@item.ExperienceID" class="btn btn-danger">Delete</a>
                    </td>
                    <td>
                        <a href="/Experience/EditExperience/@item.ExperienceID" class="btn btn-warning">Edit</a>


                    </td>
                </tr>

            }

        </tbody>
    </table>
    <br />
    <a href="/Experience/AddExperience" class="btn btn-danger">Add Experience</a>
</div>